body {
	background-image: url("wallpaper.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover; 
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: verdana;
}
h1{
	color: #69152D;
    font-size: 18px;
    text-transform: uppercase;
}
h2{
    color: #69152D;
    font-size: 18px;
    text-transform: uppercase;
}
h3{
    font-size: 15px;
    text-transform: uppercase;
    margin: 15px 0 0;
}
p{
    font-size: 14px;
    margin: 5px 0;
}
#topo{
    background-color: #EEE;
    width: 980px;
    height: 80px;
}
#foto{
	margin: 15px 25px 0px 35px;
    height: 110px;
    width: 110px;
    float: left;
}
#topo{
	width: 978px;
	height: 150px;
	background-color: #000000;
    border: 1px solid #000000;
}
#logo{
	width: 350px;
	height: 58px;
    margin-top: 20px;
}
.slogan {
    font-style: italic;
    font-size: 20px;
    padding-left: 150px;
    text-align: left;
    font-weight: 600;
    color: #777;
}
#menu{
    background: #000000;
	width: 980px;
	height: 45px;
}
#menu ul{
    text-transform: uppercase;
    list-style-type: none;
}
#menu ul li{
    float: left;
}
#menu ul li a{
	font-size: 18px;
	width: 190px;
	display: block;
	text-align: center;
	color: rgb(83, 83, 83);
	text-decoration: none;
	padding: 10px 3px;
}
#menu ul li a:hover{	
	color: #14006e;
	font-size: 20px;
	background: #FFF;
}
#destaques{
    background: #FFF;
    border: 1px solid #000000;
    width: 978px;
    height: 330px;
}
.cols {
    width: 319px;
    padding: 30px 3px 30px 3px;
    float: left;
    text-align: center;
}
#destaques h4{
    text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #14006e;
}
#conteudo {
    width: 912px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    background: #fff;
    padding: 30px 32px;
}
#bio{
	background: #000000;
	border: 1px solid #000000;
	width: 978px;
    padding: 25px 0;
}
#bio p{
    font-family: Georgia, 'Times New Roman';
	font-size: 18px;
	font-style: italic;
	text-align: center;
	padding: 5px 40px;	
	color: #ffffff;
}
#rodape{
	font-size: 14px;
	width: 980px;
	padding: 15px 0 20px; 
	background: #000000;
	text-align: center;
}
#rodape p{
	color: #FFF;
}
#tudo{
    width: 980px;
    border: 1px solid rgb(0, 0, 0);
    margin: auto; 
}