* {
    margin: 0;
    padding: 0;
}
body {
    font-family: verdana;
    font-size: 12px;
}
h1 {
    color: #bb0022;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}
#topo {
    background-color: #eee;
    width: 980px;
    height: 80px;
}
#topo p {
    text-align: center;
    font-style: italic;
    font-size: 18px;
}
#menu {
    background-color: #777;
    width: 980px;
    height: 30px;
}
#menu ul {
    text-transform: uppercase;
    list-style-type: none;
}
#menu ul li{
    float: left;
}
#menu ul li a{
    font-size: 18px;
    width: 196px;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
#menu ul li a:hover{
    color: #777;
    background-color: #fff;
}
#destaques{
    background-color: #555;
    width: 980px;
    height: 320px;
    padding-top: 5px;
}
.foto{
    padding: 5px;
    border: 2px solid #fff;
}
#bio{
    background-color: #fff;
    width: 980px;
    height: 140px;
}
#bio p{
    text-align: center;
    font-size: 16px;
    padding: 15px;
}
#rodape{
    background-color: #777;
    width: 980px;
    height: 40px;
}
#rodape p{
    text-align: center;
    padding-top: 10px;
}
#tudo{
    border: 1px solid #555;
    width: 980px;
    margin: auto;
}